@media screen and (max-width: 600px) {
    #home .container {
        flex-wrap: wrap;
    }

    #home .container .homeleft {
        width: 100%;
    }

    #home .container .homeright {
        width: 100%;
    }

    #chefs .container {
        flex-wrap: wrap;
    }

    #chefs .container .outer-div {
        width: 100%;

    }

    #gallery .container {
        flex-wrap: wrap;
    }

    #gallery .container .col {
        width: 100%;

    }

    #contact .contactcards {
        flex-wrap: wrap;
    }

    #contact .labels {
        width: 100%;
    }

    #footer .container {
        flex-wrap: wrap;
    }

    #footer .container {
        flex-wrap: wrap;
    }

    #footer .container .footer-left {
        width: 100%;
    }

    #footer .container .footer-middle {
        width: 100%;
    }

    #footer .container .footer-right {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    #home .container {
        flex-wrap: wrap;
    }

    #home .container .homeleft {
        width: 100%;
    }

    #home .container .homeright {
        width: 100%;
    }

    #chefs .container {
        flex-wrap: wrap;
    }

    #chefs .container .outer-div {
        width: 50%;

    }

    #gallery .container {
        flex-wrap: wrap;
    }

    #gallery .container .col {
        width: 50%;

    }

    #footer .container {
        flex-wrap: wrap;
    }

    #footer .container {
        flex-wrap: wrap;
    }

    #footer .container .footer-left {
        width: 100%;
    }

    #footer .container .footer-middle {
        width: 100%;
    }

    #footer .container .footer-right {
        width: 100%;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {

    #home .container {
        flex-wrap: wrap;
    }

    #home .container .homeleft {
        width: 100%;
    }

    #home .container .homeright {
        width: 100%;
    }
        #footer .container {
            flex-wrap: wrap;
        }

        #footer .container {
            flex-wrap: wrap;
        }

        #footer .container .footer-left {
            width: 100%;
        }

        #footer .container .footer-middle {
            width: 100%;
        }

        #footer .container .footer-right {
            width: 100%;
        }
    }

@media screen and (min-width: 993px) and (max-width: 1300px) {

    #home .container {
        flex-wrap: wrap;
    }

    #home .container .homeleft {
        width: 100%;
    }

    #home .container .homeright {
        width: 100%;
    }
        #footer .container {
            flex-wrap: wrap;
        }

        #footer .container {
            flex-wrap: wrap;
        }

        #footer .container .footer-left {
            width: 100%;
        }

        #footer .container .footer-middle {
            width: 100%;
        }

        #footer .container .footer-right {
            width: 100%;
        }
    }
